@import url("fonts/fonts.css");
:root {
    color-scheme: light dark;
    --color-main: #000;
    --color-background: #fff;
	--canvas-minwidth: 600px;

	--color-selection--lighter: #d3ddeb;
	--color-selection--light: #77a2df;
	--color-selection: #276bc6;
	--color-selection--dark: #113c74;
	--color-selection--darker: #090f19;

	--color-risk-terrible--lighter: #c7c6d8;
	--color-risk-terrible--light: #786dba;
	--color-risk-terrible: #4a25a2;
	--color-risk-terrible--dark: #230559;
	--color-risk-terrible--darker: #03020b;

	--color-risk-extreme--lighter: #dbcee0;
	--color-risk-extreme--light: #aa75c1;
	--color-risk-extreme: #7d2a9f;
	--color-risk-extreme--dark: #440e59;
	--color-risk-extreme--darker: #0c0510;

	--color-risk-highest--lighter: #ebd4e1;
	--color-risk-highest--light: #d37db5;
	--color-risk-highest: #a63587;
	--color-risk-highest--dark: #601a4d;
	--color-risk-highest--darker: #170a12;

	--color-risk-higher--lighter: #f8dadd;
	--color-risk-higher--light: #f08a98;
	--color-risk-higher: #c54860;
	--color-risk-higher--dark: #792a39;
	--color-risk-higher--darker: #211113;

	--color-risk-high--lighter: #fde2d6;
	--color-risk-high--light: #fc9f76;
	--color-risk-high: #d56534;
	--color-risk-high--dark: #894121;
	--color-risk-high--darker: #2a1a13;

	--color-risk-medium--lighter: #fbebd3;
	--color-risk-medium--light: #f5bb64;
	--color-risk-medium: #d28a02;
	--color-risk-medium--dark: #8c5e0f;
	--color-risk-medium--darker: #302617;

	--color-risk-moderate--lighter: #f3f4d9;
	--color-risk-moderate--light: #dad971;
	--color-risk-moderate: #b6b21d;
	--color-risk-moderate--dark: #807e22;
	--color-risk-moderate--darker: #333321;

	--color-risk-low--lighter: #ecfbe5;
	--color-risk-low--light: #b3f29a;
	--color-risk-low: #7fd560;
	--color-risk-low--dark: #649c4f;
	--color-risk-low--darker: #354131;

	--color-increasing-fastest:	#b630eb;
	--color-increasing-faster: #c473e8;
	--color-increasing-fast: #d19fe7;
	--color-increasing: #ddc5e6;
	--color-stable: #e8e8e8;
	--color-decreasing: #bdd7b2;
	--color-decreasing-fast: #8fc47a;
	--color-decreasing-faster: #5cae40;

	--font-sans: "IBM Plex Sans", sans-serif;
	--font-mono: "IBM Plex Mono", monospace;
}
@media (prefers-color-scheme: dark) {
    :root {
	    --color-main: #ccc;
	    --color-background: #0F0F0F;
    }
}
* {
	margin: 0;
	padding: 0;
}
html {
	font-family: var(--font-sans);
}
body {
	color: var(--color-main);
	background-color: var(--color-background);
	font-size: calc(1vw + 0.5vmin);
	line-height: 1.4;
}

/* !main */
main {
	margin: 0 auto;
	padding: 5vw;
	max-width: 960px;
}
main a {
	color: inherit;
}
main p {
	max-width: 640px;
	margin: 1rem 0;
	font-size: 1rem;
}
main li {
	font-size: 1rem;
	margin-bottom: 0.25rem;
}
main h1 {
	font-size: 2rem;
	margin-bottom: 2rem;
	line-height: 1.2;
}
section header {
	background-image: linear-gradient(#000, #000);
	background-image: linear-gradient(var(--color-main), var(--color-main));
	background-size: 64px 2px;
	background-repeat: repeat-x;
	background-position: center center;
}
section header h2 {
	display: inline-block;
	padding-right: 1rem;
	font-size: 0.9rem;
	text-transform: uppercase;
	max-width: none;
	margin: 2rem 0 1rem;
	color: #000;
	color: var(--color-main);
	background-color: #fff;
	background-color: var(--color-background);
}
section article {
	margin-bottom: 2rem;
}
.notes {
	font-size: 0.8rem;
}
table {
	font-family: var(--font-mono);
	font-size: 0.8rem;
	border-collapse: collapse;
}
table td,
table th {
	text-align: right;
	padding: 0.25rem 0.25rem;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
@media (prefers-color-scheme: dark) {
	table td,
	table th {
		border-color: #333;
	}
}
table tr td:nth-child(1),
table tr th:nth-child(1) {
	text-align: left;
}

/**
 * Visually hidden elements
 */
.visually-hidden {
	position: absolute;
	left:     -10000px;
	top:      auto;
	width:    1px;
	height:   1px;
	overflow: hidden;
}

/**
 * Map
 */
.map {
	display: block;
	width: 100%;
}

@media (min-width: 751px) {
	.svg-group .map {
		display: inline-block;
		width: calc((100% - 2em) / 2);
	}
}

.map__svg {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.map__svg path {
	stroke-linejoin: round;
}

/**
 * Lake
 */
.lake {
	stroke: var(--color-background);
	fill: var(--color-background);
}

/**
 * Area
 */
.area {
	stroke: var(--color-background);
	fill: grey;
	cursor: pointer;
}

.area--risk-terrible { fill: var(--color-risk-terrible); }
.area--risk-extreme { fill: var(--color-risk-extreme); }
.area--risk-highest { fill: var(--color-risk-highest); }
.area--risk-higher { fill: var(--color-risk-higher); }
.area--risk-high { fill: var(--color-risk-high); }
.area--risk-medium { fill: var(--color-risk-medium); }
.area--risk-moderate { fill: var(--color-risk-moderate); }
.area--risk-low { fill: var(--color-risk-low); }
.area--risk-unknown { fill: grey; }

.area--selected.area--risk-terrible { fill: var(--color-risk-terrible--dark); }
.area--selected.area--risk-extreme { fill: var(--color-risk-extreme--dark); }
.area--selected.area--risk-highest { fill: var(--color-risk-highest--dark); }
.area--selected.area--risk-higher { fill: var(--color-risk-higher--dark); }
.area--selected.area--risk-high { fill: var(--color-risk-high--dark); }
.area--selected.area--risk-medium { fill: var(--color-risk-medium--dark); }
.area--selected.area--risk-moderate { fill: var(--color-risk-moderate--dark); }
.area--selected.area--risk-low { fill: var(--color-risk-low--dark); }
.area--selected.area--risk-unknown { fill: #4d4d4d; }

/**
 * Row
 */
.row td {
	cursor: pointer;
}

.row:hover td {
	background-color: var(--color-selection--lighter);
}

.row.row--selected td {
	background-color: var(--color-selection);
	color: white;
}

.row .cell strong {
	font-weight: normal;
}

@media (prefers-color-scheme: dark) {
	.row:hover td {
		background-color: var(--color-selection--darker);
	}
}

.table-group,
.svg-group {
	margin-bottom: 2rem;
	display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}
.table-group > div,
.table-group > table,
.svg-group > table {
	flex: 1 0;
	margin: 0 1rem 0 0;
}
.table-group > div:nth-child(2),
.table-group > table:nth-child(2),
.svg-group > table:nth-child(2) {
	margin: 0 0 0 1rem;
}
table img {
	margin-right: 0.5em;
}

.state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;

    z-index: 1;
}

@media (max-width: 750px) {
	.state-indicator {
	   z-index: 2;
	}
	.table-group,
	.svg-group {
		display: block;
	}
	.table-group > div,
	.table-group > table,
	.svg-group > table,
	.tableFixHead {
		margin: 0 !important;
	}
	.svg-group #scrolldiv {
		width: 100%;
	}
	.table-group > table:nth-child(1) tbody > tr:last-child td {
		border-bottom: 0;
	}
	.table-group > table:nth-child(2) thead tr th {
		visibility: hidden;
		height: 0;
		overflow: hidden;
		line-height: 0;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}
h2, h3 {
	margin-bottom: 1rem;
	font-size: 1.125rem;
}
#plztable {
	margin: 0;
}
.tableFixHead          { overflow-y: auto; height: 350px; flex: 1 0; width: 100%; margin-left: 1rem; }
.tableFixHead thead th { position: sticky; top: 0; background-color: var(--color-background); border-top-width: 0; }
.tableFixHead table {
  font-size: 0.75rem; 
}
#confirmed_1 td:nth-child(1),
#confirmed_2 td:nth-child(1),
#plztable th:nth-child(2),
#plztable td:nth-child(2) {
	width: 50%;
	text-align: left;
}
.canvas-dummy {
	overflow-x: scroll;
}
canvas {
	width: 100%;
	min-width: var(--canvas-minwidth);
}
.age-graph {
	margin-top: 1rem;
}
button {
	font-family: var(--font--sans);
}
.chartButtons {
	overflow-x: scroll;
	min-width: var(--canvas-minwidth);
	width: 100%;
    clear: both;
}
@media (max-width: 750px) {
	canvas {
		width: 100%;
		min-width: auto;
	}
	.chartButtons {
		overflow-x: scroll;
		min-width: auto;
		width: 100%;
	    clear: both;
	}
}

/* !legend */
.legend {
	font-family: var(--font-sans);
	font-size: 0.9rem;
	margin-bottom: 1rem;
	width: 100%;
}

.legend th,
.legend td {
	text-align: left;
}

/* !flags */
.flag {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 1.75em;
}
.flag.flag--AG { background-image: url(flags/ag.png); }
.flag.flag--AI { background-image: url(flags/ai.png); }
.flag.flag--AR { background-image: url(flags/ar.png); }
.flag.flag--BE { background-image: url(flags/be.png); }
.flag.flag--BL { background-image: url(flags/bl.png); }
.flag.flag--BS { background-image: url(flags/bs.png); }
.flag.flag--CH { background-image: url(flags/ch.png); }
.flag.flag--FL { background-image: url(flags/fl.png); }
.flag.flag--FR { background-image: url(flags/fr.png); }
.flag.flag--GE { background-image: url(flags/ge.png); }
.flag.flag--GL { background-image: url(flags/gl.png); }
.flag.flag--GR { background-image: url(flags/gr.png); }
.flag.flag--JU { background-image: url(flags/ju.png); }
.flag.flag--LI { background-image: url(flags/li.png); }
.flag.flag--LU { background-image: url(flags/lu.png); }
.flag.flag--NE { background-image: url(flags/ne.png); }
.flag.flag--NW { background-image: url(flags/nw.png); }
.flag.flag--OW { background-image: url(flags/ow.png); }
.flag.flag--SG { background-image: url(flags/sg.png); }
.flag.flag--SH { background-image: url(flags/sh.png); }
.flag.flag--SO { background-image: url(flags/so.png); }
.flag.flag--SZ { background-image: url(flags/sz.png); }
.flag.flag--TG { background-image: url(flags/tg.png); }
.flag.flag--TI { background-image: url(flags/ti.png); }
.flag.flag--UR { background-image: url(flags/ur.png); }
.flag.flag--VD { background-image: url(flags/vd.png); }
.flag.flag--VS { background-image: url(flags/vs.png); }
.flag.flag--ZG { background-image: url(flags/zg.png); }
.flag.flag--ZH { background-image: url(flags/zh.png); }
@media (prefers-color-scheme: dark) {
	.flag.flag--AG { background-image: url(flags/ag-dark.png); }
	.flag.flag--AI { background-image: url(flags/ai-dark.png); }
	.flag.flag--AR { background-image: url(flags/ar-dark.png); }
	.flag.flag--BE { background-image: url(flags/be-dark.png); }
	.flag.flag--BL { background-image: url(flags/bl-dark.png); }
	.flag.flag--BS { background-image: url(flags/bs-dark.png); }
	.flag.flag--CH { background-image: url(flags/ch-dark.png); }
	.flag.flag--FL { background-image: url(flags/fl-dark.png); }
	.flag.flag--FR { background-image: url(flags/fr-dark.png); }
	.flag.flag--GE { background-image: url(flags/ge-dark.png); }
	.flag.flag--GL { background-image: url(flags/gl-dark.png); }
	.flag.flag--GR { background-image: url(flags/gr-dark.png); }
	.flag.flag--JU { background-image: url(flags/ju-dark.png); }
	.flag.flag--LI { background-image: url(flags/li-dark.png); }
	.flag.flag--LU { background-image: url(flags/lu-dark.png); }
	.flag.flag--NE { background-image: url(flags/ne-dark.png); }
	.flag.flag--NW { background-image: url(flags/nw-dark.png); }
	.flag.flag--OW { background-image: url(flags/ow-dark.png); }
	.flag.flag--SG { background-image: url(flags/sg-dark.png); }
	.flag.flag--SH { background-image: url(flags/sh-dark.png); }
	.flag.flag--SO { background-image: url(flags/so-dark.png); }
	.flag.flag--SZ { background-image: url(flags/sz-dark.png); }
	.flag.flag--TG { background-image: url(flags/tg-dark.png); }
	.flag.flag--TI { background-image: url(flags/ti-dark.png); }
	.flag.flag--UR { background-image: url(flags/ur-dark.png); }
	.flag.flag--VD { background-image: url(flags/vd-dark.png); }
	.flag.flag--VS { background-image: url(flags/vs-dark.png); }
	.flag.flag--ZG { background-image: url(flags/zg-dark.png); }
	.flag.flag--ZH { background-image: url(flags/zh-dark.png); }
}
.flag.flag--101 { background-image: url(flags/101.png); }
.flag.flag--102 { background-image: url(flags/102.png); }
.flag.flag--103 { background-image: url(flags/103.png); }
.flag.flag--104 { background-image: url(flags/104.png); }
.flag.flag--105 { background-image: url(flags/105.png); }
.flag.flag--106 { background-image: url(flags/106.png); }
.flag.flag--107 { background-image: url(flags/107.png); }
.flag.flag--108 { background-image: url(flags/108.png); }
.flag.flag--109 { background-image: url(flags/109.png); }
.flag.flag--110 { background-image: url(flags/110.png); }
.flag.flag--111 { background-image: url(flags/111.png); }
.flag.flag--112 { background-image: url(flags/112.png); }

/**
 * Source
 */
.source {
	margin-top: 0;
	font-size: 1rem;
	font-weight: normal;
}

/**
 * Period
 */
.period {
	margin-top: 0;
	font-size: 1rem;
	font-weight: normal;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.period__button {
	flex: 1 0;
	margin: 0 0.5rem;
	border: 2px solid #999;
	background: #eee;
	border-radius: 0.5rem;
	padding: 0.5rem;
	font-weight: bold;
}

.period__button:hover {
	background-color: #ddd;
	border-color: #666;
}

.period__button[disabled] {
	opacity: 0.5;
	pointer-events: none;
}

@media (prefers-color-scheme: dark) {
	.period__button {
		background: #222;
		border-color: #666;
		color: #ccc;
	}

	.period__button:hover {
		background: #333;
		border-color: #999;
	}
}

.period__button:first-child {
	margin-left: 0;
}

.period__button:last-child {
	margin-right: 0;
}

.period__dates {
	flex: 6 0;
	text-align: center;
	margin: 0.5rem 0;
}

/**
 * Figure
 */

.figure {
	border: 2px solid gray;
	font-family: var(--font-sans);
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	width: 100%;
}

.figure__column-header,
.figure__row-header {
	font-weight: normal;
	border: 0;
	padding: 0.5rem;
}

.figure tr:nth-child(2) th,
.figure tr:nth-child(2) td {
	padding-top: 0;
}

.figure__column-header {
	text-align: center;
}

.figure th:first-child {
	text-align: right;
}

@media (max-width: 750px) {
	.figure th:first-child {
		display: none;
	}
}

.figure .cell {
	text-align: center;
	border: 0;
	vertical-align: top;
	padding: 0.5rem;
}

.figure--terrible { border-color: var(--color-risk-terrible); background-color: var(--color-risk-terrible--lighter); color: var(--color-risk-terrible--darker); }
.figure--extreme { border-color: var(--color-risk-extreme); background-color: var(--color-risk-extreme--lighter); color: var(--color-risk-extreme--darker); }
.figure--highest { border-color: var(--color-risk-highest); background-color: var(--color-risk-highest--lighter); color: var(--color-risk-highest--darker); }
.figure--higher { border-color: var(--color-risk-higher); background-color: var(--color-risk-higher--lighter); color: var(--color-risk-higher--darker); }
.figure--high { border-color: var(--color-risk-high); background-color: var(--color-risk-high--lighter); color: var(--color-risk-high--darker); }
.figure--medium { border-color: var(--color-risk-medium); background-color: var(--color-risk-medium--lighter); color: var(--color-risk-medium--darker); }
.figure--moderate { border-color: var(--color-risk-moderate); background-color: var(--color-risk-moderate--lighter); color: var(--color-risk-moderate--darker); }
.figure--low { border-color: var(--color-risk-low); background-color: var(--color-risk-low--lighter); color: var(--color-risk-low--darker); }

@media (prefers-color-scheme: dark) {
	.figure--terrible { background-color: var(--color-risk-terrible--darker); color: var(--color-risk-terrible--lighter); }
	.figure--extreme { background-color: var(--color-risk-extreme--darker); color: var(--color-risk-extreme--lighter); }
	.figure--highest { background-color: var(--color-risk-highest--darker); color: var(--color-risk-highest--lighter); }
	.figure--higher { background-color: var(--color-risk-higher--darker); color: var(--color-risk-higher--lighter); }
	.figure--high { background-color: var(--color-risk-high--darker); color: var(--color-risk-high--lighter); }
	.figure--medium { background-color: var(--color-risk-medium--darker); color: var(--color-risk-medium--lighter); }
	.figure--moderate { background-color: var(--color-risk-moderate--darker); color: var(--color-risk-moderate--lighter); }
	.figure--low { background-color: var(--color-risk-low--darker); color: var(--color-risk-low--lighter); }
}

.figure .cell--terrible { background-color: var(--color-risk-terrible--lighter); color: var(--color-risk-terrible--darker); }
.figure .cell--extreme { background-color: var(--color-risk-extreme--lighter); color: var(--color-risk-extreme--darker); }
.figure .cell--highest { background-color: var(--color-risk-highest--lighter); color: var(--color-risk-highest--darker); }
.figure .cell--higher { background-color: var(--color-risk-higher--lighter); color: var(--color-risk-higher--darker); }
.figure .cell--high { background-color: var(--color-risk-high--lighter); color: var(--color-risk-high--darker); }
.figure .cell--medium { background-color: var(--color-risk-medium--lighter); color: var(--color-risk-medium--darker); }
.figure .cell--moderate { background-color: var(--color-risk-moderate--lighter); color: var(--color-risk-moderate--darker); }
.figure .cell--low { background-color: var(--color-risk-low--lighter); color: var(--color-risk-low--darker); }

@media (prefers-color-scheme: dark) {
	.figure .cell--terrible { background-color: var(--color-risk-terrible--darker); color: var(--color-risk-terrible--lighter); }
	.figure .cell--extreme { background-color: var(--color-risk-extreme--darker); color: var(--color-risk-extreme--lighter); }
	.figure .cell--highest { background-color: var(--color-risk-highest--darker); color: var(--color-risk-highest--lighter); }
	.figure .cell--higher { background-color: var(--color-risk-higher--darker); color: var(--color-risk-higher--lighter); }
	.figure .cell--high { background-color: var(--color-risk-high--darker); color: var(--color-risk-high--lighter); }
	.figure .cell--medium { background-color: var(--color-risk-medium--darker); color: var(--color-risk-medium--lighter); }
	.figure .cell--moderate { background-color: var(--color-risk-moderate--darker); color: var(--color-risk-moderate--lighter); }
	.figure .cell--low { background-color: var(--color-risk-low--darker); color: var(--color-risk-low--lighter); }
}

.cell strong {
	display: inline-block;
	font-weight: bold;
	padding: 0.1em 0.5em;
	border-radius: 2rem;
	color: white;
}

.cell--terrible strong, .figure--terrible .figure__number { background-color: var(--color-risk-terrible); }
.cell--extreme strong, .figure--extreme .figure__number { background-color: var(--color-risk-extreme); }
.cell--highest strong, .figure--highest .figure__number { background-color: var(--color-risk-highest); }
.cell--higher strong, .figure--higher .figure__number { background-color: var(--color-risk-higher); }
.cell--high strong, .figure--high .figure__number { background-color: var(--color-risk-high); color: black; }
.cell--medium strong, .figure--medium .figure__number { background-color: var(--color-risk-medium); color: black; }
.cell--moderate strong, .figure--moderate .figure__number { background-color: var(--color-risk-moderate); color: black; }
.cell--low strong, .figure--low .figure__number { background-color: var(--color-risk-low); color: black; }

.cell--increasing-fastest strong { background-color: var(--color-increasing-fastest); }
.cell--increasing-faster strong { background-color: var(--color-increasing-faster); color: black; }
.cell--increasing-fast strong { background-color: var(--color-increasing-fast); color: black; }
.cell--increasing strong { background-color: var(--color-increasing); color: black; }
.cell--stable strong { background-color: var(--color-stable); color: black; }
.cell--decreasing strong { background-color: var(--color-decreasing); color: black; }
.cell--decreasing-fast strong { background-color: var(--color-decreasing-fast); color: black; }
.cell--decreasing-faster strong { background-color: var(--color-decreasing-faster); color: black; }

.cell .figure__number {
	font-size: 1.8rem;
	line-height: 1;
}

/* !page-footer */
#page-footer {
	margin: 5vw auto 0;
	max-width: 960px;
	padding: 5vw;
	border-top: 2px solid var(--color-main);
}
#page-footer a {
	color: inherit;
}
#page-footer > * {
	font-size: 0.8rem;
	max-width: 640px;
}


/* Spinner: */

#loadingspinner {
  margin: auto;
  /*width: 200px;*/
  padding: 10px;
  line-height: 50px;
  text-align: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
  border-color: var(--color-main) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
