@import url("fonts/fonts.css");
:root {
    color-scheme: light dark;
    --color-main: #000;
    --color-background: #fff;
	--canvas-minwidth: 600px;

	--color-selection--lighter: #ddeaf7;
	--color-selection--light: #9fcbf8;
	--color-selection: #2e92e4;
	--color-selection--dark: #234e75;
	--color-selection--darker: #161f27;

	--color-risk-extreme--lighter: #c5c5d6;
	--color-risk-extreme--light: #847fbb;
	--color-risk-extreme: #45239f;
	--color-risk-extreme--dark: #170541;
	--color-risk-extreme--darker: #03020a;

	--color-risk-highest--lighter: #decfe1;
	--color-risk-highest--light: #bb8bc8;
	--color-risk-highest: #842b9e;
	--color-risk-highest--dark: #390f45;
	--color-risk-highest--darker: #0e0610;

	--color-risk-higher--lighter: #f1d6e1;
	--color-risk-higher--light: #e596ba;
	--color-risk-higher: #b33c7c;
	--color-risk-higher--dark: #561d3b;
	--color-risk-higher--darker: #1b0c13;

	--color-risk-high--lighter: #fddfda;
	--color-risk-high--light: #ffa89b;
	--color-risk-high: #d4594b;
	--color-risk-high--dark: #6f312a;
	--color-risk-high--darker: #281714;

	--color-risk-medium--lighter: #feead5;
	--color-risk-medium--light: #ffc483;
	--color-risk-medium: #da8417;
	--color-risk-medium--dark: #7b4f1b;
	--color-risk-medium--darker: #312518;

	--color-risk-low--lighter: #f5f5da;
	--color-risk-low--light: #e6e38d;
	--color-risk-low: #beb520;
	--color-risk-low--dark: #75722a;
	--color-risk-low--darker: #363623;
}
@media (prefers-color-scheme: dark) {
    :root {
	    --color-main: #ccc;
	    --color-background: #0F0F0F;
    }
}
* {
	margin: 0;
	padding: 0;
}
html {
	font-family: "IBM Plex Sans", sans-serif;
}
body {
	color: var(--color-main);
	background-color: var(--color-background);
	font-size: calc(1vw + 0.5vmin);
	line-height: 1.4;
}

/* !main */
main {
	margin: 0 auto;
	padding: 5vw;
	max-width: 960px;
}
main a {
	color: inherit;
}
main p {
	max-width: 640px;
	margin: 1rem 0;
	font-size: 1rem;
}
main li {
	font-size: 1rem;
	margin-bottom: 0.25rem;
}
main h1 {
	font-size: 2rem;
	margin-bottom: 2rem;
	line-height: 1.2;
}
section header {
	background-image: linear-gradient(#000, #000);
	background-image: linear-gradient(var(--color-main), var(--color-main));
	background-size: 64px 2px;
	background-repeat: repeat-x;
	background-position: center center;
}
section header h2 {
	display: inline-block;
	padding-right: 1rem;
	font-size: 0.9rem;
	text-transform: uppercase;
	max-width: none;
	margin: 2rem 0;
	color: #000;
	color: var(--color-main);
	background-color: #fff;
	background-color: var(--color-background);
}
section article {
	margin-bottom: 2rem;
}
.notes {
	font-size: 0.8rem;
}
table {
	font-family: "IBM Plex Mono", monospace;
	font-size: 0.8rem;
	border-collapse: collapse;
	width: 100%;
}
table td,
table th {
	text-align: right;
	padding: 0.25rem 0.25rem;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
@media (prefers-color-scheme: dark) {
	table td,
	table th {
		border-color: #333;
	}
}
table tr td:nth-child(1),
table tr th:nth-child(1) {
	text-align: left;
}

/**
 * Map
 */
.map {
	display: block;
	width: 100%;
}

@media (min-width: 751px) {
	.svg-group .map {
		display: inline-block;
		width: calc((100% - 2.3em) / 2);
	}
}

.map__svg {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.map__svg path {
	stroke-linejoin: round;
}

/**
 * Lake
 */
.lake {
	stroke: var(--color-background);
	fill: var(--color-background);
}

/**
 * Area
 */
.area {
	stroke: var(--color-background);
	fill: grey;
	cursor: pointer;
}

.area--risk-extreme { fill: var(--color-risk-extreme); }
.area--risk-highest { fill: var(--color-risk-highest); }
.area--risk-higher { fill: var(--color-risk-higher); }
.area--risk-high { fill: var(--color-risk-high); }
.area--risk-medium { fill: var(--color-risk-medium); }
.area--risk-low { fill: var(--color-risk-low); }
.area--risk-lower { fill: var(--color-risk-low); }

.area--selected.area--risk-extreme { fill: var(--color-risk-extreme--dark); }
.area--selected.area--risk-highest { fill: var(--color-risk-highest--dark); }
.area--selected.area--risk-higher { fill: var(--color-risk-higher--dark); }
.area--selected.area--risk-high { fill: var(--color-risk-high--dark); }
.area--selected.area--risk-medium { fill: var(--color-risk-medium--dark); }
.area--selected.area--risk-low { fill: var(--color-risk-low--dark); }
.area--selected.area--risk-lower { fill: var(--color-risk-low--dark); }

/**
 * Row
 */
.row td {
	cursor: pointer;
}

.row:hover td {
	background-color: var(--color-selection--lighter);
}

.row--selected td {
	background-color: var(--color-selection--light);
}

.row--selected .cell--last-week {
	color: var(--color-selection--dark);
}

@media (prefers-color-scheme: dark) {
	.row:hover td {
		background-color: var(--color-selection--darker);
	}

	.row--selected td {
		background-color: var(--color-selection--dark);
	}
	
	.row--selected .cell--last-week {
		color: var(--color-selection--light);
	}
}

.table-group,
.svg-group {
	margin-bottom: 2rem;
	display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}
.table-group table,
.svg-group table {
	flex: 1 0;
	margin: 0 1rem 0 0;
}
.table-group table:nth-child(2),
.svg-group table:nth-child(2) {
	margin: 0 0 0 1rem;
}
table a:hover {
	text-decoration: underline;
}
table img {
	margin-right: 0.5em;
}

.state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;

    z-index: 1;
}

@media (max-width: 750px) {
	.state-indicator {
	   z-index: 2;
	}
	.svg-group {
		display: block;
	}
	.table-group table,
	.svg-group table,
	.tableFixHead {
		margin: 0 !important;
	}
	.svg-group #scrolldiv {
		width: 100%;
	}
	.table-group table:nth-child(1) tbody > tr:last-child td {
		border-bottom: 0;
	}
	.table-group table:nth-child(2) thead tr th {
		visibility: hidden;
		height: 0;
		overflow: hidden;
		line-height: 0;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}
.left {
  text-align: left !important;
  white-space: nowrap;
}
h2, h3 {
	margin-bottom: 1rem;
	font-size: 1.125rem;
}
#plztable {
	margin-right: 0;
}
.tableFixHead          { overflow-y: auto; height: 350px; flex: 1 0; width: 100%; margin-left: 1rem; }
.tableFixHead thead th { position: sticky; top: 0; background-color: var(--color-background); border-top-width: 0; }
.tableFixHead table {
  font-size: 0.75rem; 
}
#confirmed_1 td:nth-child(1),
#confirmed_2 td:nth-child(1) {
	width: 50%;
}
#plztable th:nth-child(2),
#plztable td:nth-child(2) {
	text-align: left;
	width: 40%;
}
/* #confirmed_1 td:nth-child(2),
#confirmed_2 td:nth-child(2),
#confirmed td:nth-child(2),
#plzbody td:nth-child(3), */
.cell--last-week {
	color: grey;
	white-space: nowrap;
}
.cell--this-week,
.cell--risk {
	white-space: nowrap;
}
.canvas-dummy {
	overflow-x: scroll;
}
canvas {
	width: 100%;
	min-width: var(--canvas-minwidth);
}
button {
	font-family: "IBM Plex Sans", sans-serif;
}
.chartButtons {
	overflow-x: scroll;
	min-width: var(--canvas-minwidth);
	width: 100%;
    clear: both;
}
@media (max-width: 750px) {
	canvas {
		width: 100%;
		min-width: auto;
	}
	.chartButtons {
		overflow-x: scroll;
		min-width: auto;
		width: 100%;
	    clear: both;
	}
}

/* !legend */
.legend {
	list-style: none;
}

.legend .risk {
	float: left;
	margin: 0.2rem 0 0;
}

.legend .risk:after {
	margin: 0;
}

.legend span {
	display: block;
	margin-left: 1.8rem;
}

/* !flags */
.flag {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 1.75em;
}
.flag.flag--AG { background-image: url(flags/ag.png); }
.flag.flag--AI { background-image: url(flags/ai.png); }
.flag.flag--AR { background-image: url(flags/ar.png); }
.flag.flag--BE { background-image: url(flags/be.png); }
.flag.flag--BL { background-image: url(flags/bl.png); }
.flag.flag--BS { background-image: url(flags/bs.png); }
.flag.flag--CH { background-image: url(flags/ch.png); }
.flag.flag--FL { background-image: url(flags/fl.png); }
.flag.flag--FR { background-image: url(flags/fr.png); }
.flag.flag--GE { background-image: url(flags/ge.png); }
.flag.flag--GL { background-image: url(flags/gl.png); }
.flag.flag--GR { background-image: url(flags/gr.png); }
.flag.flag--JU { background-image: url(flags/ju.png); }
.flag.flag--LI { background-image: url(flags/li.png); }
.flag.flag--LU { background-image: url(flags/lu.png); }
.flag.flag--NE { background-image: url(flags/ne.png); }
.flag.flag--NW { background-image: url(flags/nw.png); }
.flag.flag--OW { background-image: url(flags/ow.png); }
.flag.flag--SG { background-image: url(flags/sg.png); }
.flag.flag--SH { background-image: url(flags/sh.png); }
.flag.flag--SO { background-image: url(flags/so.png); }
.flag.flag--SZ { background-image: url(flags/sz.png); }
.flag.flag--TG { background-image: url(flags/tg.png); }
.flag.flag--TI { background-image: url(flags/ti.png); }
.flag.flag--UR { background-image: url(flags/ur.png); }
.flag.flag--VD { background-image: url(flags/vd.png); }
.flag.flag--VS { background-image: url(flags/vs.png); }
.flag.flag--ZG { background-image: url(flags/zg.png); }
.flag.flag--ZH { background-image: url(flags/zh.png); }
@media (prefers-color-scheme: dark) {
	.flag.flag--AG { background-image: url(flags/ag-dark.png); }
	.flag.flag--AI { background-image: url(flags/ai-dark.png); }
	.flag.flag--AR { background-image: url(flags/ar-dark.png); }
	.flag.flag--BE { background-image: url(flags/be-dark.png); }
	.flag.flag--BL { background-image: url(flags/bl-dark.png); }
	.flag.flag--BS { background-image: url(flags/bs-dark.png); }
	.flag.flag--CH { background-image: url(flags/ch-dark.png); }
	.flag.flag--FL { background-image: url(flags/fl-dark.png); }
	.flag.flag--FR { background-image: url(flags/fr-dark.png); }
	.flag.flag--GE { background-image: url(flags/ge-dark.png); }
	.flag.flag--GL { background-image: url(flags/gl-dark.png); }
	.flag.flag--GR { background-image: url(flags/gr-dark.png); }
	.flag.flag--JU { background-image: url(flags/ju-dark.png); }
	.flag.flag--LI { background-image: url(flags/li-dark.png); }
	.flag.flag--LU { background-image: url(flags/lu-dark.png); }
	.flag.flag--NE { background-image: url(flags/ne-dark.png); }
	.flag.flag--NW { background-image: url(flags/nw-dark.png); }
	.flag.flag--OW { background-image: url(flags/ow-dark.png); }
	.flag.flag--SG { background-image: url(flags/sg-dark.png); }
	.flag.flag--SH { background-image: url(flags/sh-dark.png); }
	.flag.flag--SO { background-image: url(flags/so-dark.png); }
	.flag.flag--SZ { background-image: url(flags/sz-dark.png); }
	.flag.flag--TG { background-image: url(flags/tg-dark.png); }
	.flag.flag--TI { background-image: url(flags/ti-dark.png); }
	.flag.flag--UR { background-image: url(flags/ur-dark.png); }
	.flag.flag--VD { background-image: url(flags/vd-dark.png); }
	.flag.flag--VS { background-image: url(flags/vs-dark.png); }
	.flag.flag--ZG { background-image: url(flags/zg-dark.png); }
	.flag.flag--ZH { background-image: url(flags/zh-dark.png); }
}
.flag.flag--101 { background-image: url(flags/101.png); }
.flag.flag--102 { background-image: url(flags/102.png); }
.flag.flag--103 { background-image: url(flags/103.png); }
.flag.flag--104 { background-image: url(flags/104.png); }
.flag.flag--105 { background-image: url(flags/105.png); }
.flag.flag--106 { background-image: url(flags/106.png); }
.flag.flag--107 { background-image: url(flags/107.png); }
.flag.flag--108 { background-image: url(flags/108.png); }
.flag.flag--109 { background-image: url(flags/109.png); }
.flag.flag--110 { background-image: url(flags/110.png); }
.flag.flag--111 { background-image: url(flags/111.png); }
.flag.flag--112 { background-image: url(flags/112.png); }

/**
 * Source
 */
.source {
	margin-top: 0;
	font-size: 1rem;
	font-weight: normal;
}

/**
 * Period
 */
.period {
	margin-top: 0;
	font-size: 1rem;
	font-weight: normal;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.period__button {
	flex: 1 0;
	margin: 0 0.5rem;
	border: 2px solid #999;
	background: #eee;
	border-radius: 0.5rem;
	padding: 0.5rem;
	font-weight: bold;
}

.period__button:hover {
	background-color: #ddd;
	border-color: #666;
}

.period__button[disabled] {
	opacity: 0.5;
	pointer-events: none;
}

@media (prefers-color-scheme: dark) {
	.period__button {
		background: #222;
		border-color: #666;
		color: #ccc;
	}

	.period__button:hover {
		background: #333;
		border-color: #999;
	}
}

.period__button:first-child {
	margin-left: 0;
}

.period__button:last-child {
	margin-right: 0;
}

.period__dates {
	flex: 6 0;
	text-align: center;
	margin: 0.5rem 0;
}

/**
 * Figure
 */
.figure {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	margin-bottom: 0.5rem;
}

.figure__card {
	flex: 1 0;
	margin: 0 0.5rem;
	border: 2px solid gray;
}

.figure--extreme .figure__card { border-color: var(--color-risk-extreme); background-color: var(--color-risk-extreme--lighter); color: var(--color-risk-extreme--darker); }
.figure--highest .figure__card { border-color: var(--color-risk-highest); background-color: var(--color-risk-highest--lighter); color: var(--color-risk-highest--darker); }
.figure--higher .figure__card { border-color: var(--color-risk-higher); background-color: var(--color-risk-higher--lighter); color: var(--color-risk-higher--darker); }
.figure--high .figure__card { border-color: var(--color-risk-high); background-color: var(--color-risk-high--lighter); color: var(--color-risk-high--darker); }
.figure--medium .figure__card { border-color: var(--color-risk-medium); background-color: var(--color-risk-medium--lighter); color: var(--color-risk-medium--darker); }
.figure--low .figure__card { border-color: var(--color-risk-low); background-color: var(--color-risk-low--lighter); color: var(--color-risk-low--darker); }
.figure--lower .figure__card { border-color: var(--color-risk-low); background-color: var(--color-risk-low--lighter); color: var(--color-risk-low--darker); }

.figure--extreme .figure__number { color: var(--color-risk-extreme--dark); }
.figure--highest .figure__number { color: var(--color-risk-highest--dark); }
.figure--higher .figure__number { color: var(--color-risk-higher--dark); }
.figure--high .figure__number { color: var(--color-risk-high--dark); }
.figure--medium .figure__number { color: var(--color-risk-medium--dark); }
.figure--low .figure__number { color: var(--color-risk-low--dark); }
.figure--lower .figure__number { color: var(--color-risk-low--dark); }

@media (prefers-color-scheme: dark) {
	.figure--extreme .figure__card { background-color: var(--color-risk-extreme--darker); color: var(--color-risk-extreme--lighter); }
	.figure--highest .figure__card { background-color: var(--color-risk-highest--darker); color: var(--color-risk-highest--lighter); }
	.figure--higher .figure__card { background-color: var(--color-risk-higher--darker); color: var(--color-risk-higher--lighter); }
	.figure--high .figure__card { background-color: var(--color-risk-high--darker); color: var(--color-risk-high--lighter); }
	.figure--medium .figure__card { background-color: var(--color-risk-medium--darker); color: var(--color-risk-medium--lighter); }
	.figure--low .figure__card { background-color: var(--color-risk-low--darker); color: var(--color-risk-low--lighter); }
	.figure--lower .figure__card { background-color: var(--color-risk-low--darker); color: var(--color-risk-low--lighter); }

	.figure--extreme .figure__number { color: var(--color-risk-extreme--light); }
	.figure--highest .figure__number { color: var(--color-risk-highest--light); }
	.figure--higher .figure__number { color: var(--color-risk-higher--light); }
	.figure--high .figure__number { color: var(--color-risk-high--light); }
	.figure--medium .figure__number { color: var(--color-risk-medium--light); }
	.figure--low .figure__number { color: var(--color-risk-low--light); }
	.figure--lower .figure__number { color: var(--color-risk-low--light); }
}

.figure__card--absolute {
	margin-left: 0;
}

.figure__card--relative {
	margin-right: 0;
}

@media (max-width: 750px) {
	.figure {
		flex-flow: column;
	}

	.figure__card--absolute {
		margin: 0 0 0.5rem;
	}

	.figure__card--relative {
		margin: 0.5rem 0 0;
	}
}

.figure__label {
	display: block;
	font-size: 0.9rem;
	font-weight: normal;
	margin: 0.5rem 1rem 0;
}

.figure__label--centered {
	text-align: center;
	margin: 0 1rem 0;
	padding-bottom: 0.5rem;
}

.figure__footer {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
}

.figure__label--left {
	margin: 0;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	flex: 1 0;
}

.figure__label--right {
	margin: 0;
	padding: 0.5rem 1rem 0.5rem 0.5rem;
	flex: 1 0;
}

.figure__label--extreme { background-color: var(--color-risk-extreme--lighter); color: var(--color-risk-extreme--darker); }
.figure__label--highest { background-color: var(--color-risk-highest--lighter); color: var(--color-risk-highest--darker); }
.figure__label--higher { background-color: var(--color-risk-higher--lighter); color: var(--color-risk-higher--darker); }
.figure__label--high { background-color: var(--color-risk-high--lighter); color: var(--color-risk-high--darker); }
.figure__label--medium { background-color: var(--color-risk-medium--lighter); color: var(--color-risk-medium--darker); }
.figure__label--low { background-color: var(--color-risk-low--lighter); color: var(--color-risk-low--darker); }
.figure__label--lower { background-color: var(--color-risk-low--lighter); color: var(--color-risk-low--darker); }

.figure__label--extreme.figure__label--left { color: var(--color-risk-extreme--dark); }
.figure__label--highest.figure__label--left { color: var(--color-risk-highest--dark); }
.figure__label--higher.figure__label--left { color: var(--color-risk-higher--dark); }
.figure__label--high.figure__label--left { color: var(--color-risk-high--dark); }
.figure__label--medium.figure__label--left { color: var(--color-risk-medium--dark); }
.figure__label--low.figure__label--left {  color: var(--color-risk-low--dark); }
.figure__label--lower.figure__label--left { color: var(--color-risk-low--dark); }

@media (prefers-color-scheme: dark) {
	.figure__label--extreme { background-color: var(--color-risk-extreme--darker); color: var(--color-risk-extreme--lighter); }
	.figure__label--highest { background-color: var(--color-risk-highest--darker); color: var(--color-risk-highest--lighter); }
	.figure__label--higher { background-color: var(--color-risk-higher--darker); color: var(--color-risk-higher--lighter); }
	.figure__label--high { background-color: var(--color-risk-high--darker); color: var(--color-risk-high--lighter); }
	.figure__label--medium { background-color: var(--color-risk-medium--darker); color: var(--color-risk-medium--lighter); }
	.figure__label--low { background-color: var(--color-risk-low--darker); color: var(--color-risk-low--lighter); }
	.figure__label--lower { background-color: var(--color-risk-low--darker); color: var(--color-risk-low--lighter); }

	.figure__label--extreme.figure__label--left { color: var(--color-risk-extreme--light); }
	.figure__label--highest.figure__label--left { color: var(--color-risk-highest--light); }
	.figure__label--higher.figure__label--left { color: var(--color-risk-higher--light); }
	.figure__label--high.figure__label--left { color: var(--color-risk-high--light); }
	.figure__label--medium.figure__label--left { color: var(--color-risk-medium--light); }
	.figure__label--low.figure__label--left { color: var(--color-risk-low--light); }
	.figure__label--lower.figure__label--left { color: var(--color-risk-low--light); }
}

.figure__number {
	display: block;
	font-weight: bold;
	text-align: center;
	font-size: 2.7rem;
	line-height: 1;
}

/**
 * Risk
 */
.risk {
	position: relative;
}

.risk:after {
	content: '';
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	background-color: #ccc;
	margin-left: 0.5rem;
	margin-top: 1px;
	vertical-align: top;
}
.risk.extreme:after { background-color: var(--color-risk-extreme); } /* black */
.risk.highest:after { background-color: var(--color-risk-highest); } /* purple */
.risk.higher:after { background-color: var(--color-risk-higher); } /* pink */
.risk.high:after { background-color: var(--color-risk-high); } /* red */
.risk.medium:after { background-color: var(--color-risk-medium); } /* orange */
.risk.low:after { background-color: var(--color-risk-low); } /* green */
.risk.lower:after { background-color: var(--color-risk-low); } /* also green */

.risk:before {
	position: absolute;
	content: '';
	display: block;
	width: 1rem;
	height: 0.5rem;
	border-radius: 0.5rem 0.5rem 0 0;
	background: transparent;
	top: 1px;
	right: 0;
}
.risk.low2medium:before { background: linear-gradient(75deg, var(--color-risk-low) 0%, var(--color-risk-medium) 100%); }
.risk.low2high:before { background: linear-gradient(60deg, var(--color-risk-low) 0%, var(--color-risk-medium) 50%, var(--color-risk-high) 100%); }
.risk.low2higher:before { background: linear-gradient(45deg, var(--color-risk-low) 0%, var(--color-risk-medium) 33%, var(--color-risk-high) 67%, var(--color-risk-higher) 100%); }
.risk.low2highest:before { background: linear-gradient(30deg, var(--color-risk-low) 0%, var(--color-risk-medium) 25%, var(--color-risk-high) 50%, var(--color-risk-higher) 75%, var(--color-risk-highest) 100%); }

.risk.medium2low:before { background: linear-gradient(105deg, var(--color-risk-medium) 0%, var(--color-risk-low) 100%); }
.risk.medium2high:before { background: linear-gradient(75deg, var(--color-risk-medium) 0%, var(--color-risk-high) 100%); }
.risk.medium2higher:before { background: linear-gradient(60deg, var(--color-risk-medium) 0%, var(--color-risk-high) 50%, var(--color-risk-higher) 100%); }
.risk.medium2highest:before { background: linear-gradient(45deg, var(--color-risk-medium) 0%, var(--color-risk-high) 33%, var(--color-risk-higher) 67%, var(--color-risk-highest) 100%); }

.risk.high2low:before { background: linear-gradient(120deg, var(--color-risk-high) 0%, var(--color-risk-medium) 50%, var(--color-risk-low) 100%); }
.risk.high2medium:before { background: linear-gradient(105deg, var(--color-risk-high) 0%, var(--color-risk-medium) 100%); }
.risk.high2higher:before { background: linear-gradient(75deg, var(--color-risk-high) 0%, var(--color-risk-higher) 100%); }
.risk.high2highest:before { background: linear-gradient(60deg, var(--color-risk-high) 0%, var(--color-risk-higher) 50%, var(--color-risk-highest) 100%); }

.risk.higher2low:before { background: linear-gradient(135deg, var(--color-risk-higher) 0%, var(--color-risk-high) 33%, var(--color-risk-medium) 67%, var(--color-risk-low) 100%); }
.risk.higher2medium:before { background: linear-gradient(120deg, var(--color-risk-higher) 0%, var(--color-risk-high) 50%, var(--color-risk-medium) 100%); }
.risk.higher2high:before { background: linear-gradient(105deg, var(--color-risk-higher) 0%, var(--color-risk-high) 100%); }
.risk.higher2highest:before { background: linear-gradient(75deg, var(--color-risk-higher) 0%, var(--color-risk-highest) 100%); }

.risk.highest2low:before { background: linear-gradient(150deg, var(--color-risk-highest) 0%, var(--color-risk-higher) 25%, var(--color-risk-high) 50%, var(--color-risk-medium) 75%, var(--color-risk-low) 100%); }
.risk.highest2medium:before { background: linear-gradient(135deg, var(--color-risk-highest) 0%, var(--color-risk-higher) 33%, var(--color-risk-high) 67%, var(--color-risk-medium) 100%); }
.risk.highest2high:before { background: linear-gradient(120deg, var(--color-risk-highest) 0%, var(--color-risk-higher) 50%, var(--color-risk-high) 100%); }
.risk.highest2higher:before { background: linear-gradient(105deg, var(--color-risk-highest) 0%, var(--color-risk-higher) 100%); }

/* !page-footer */
#page-footer {
	margin: 5vw auto 0;
	max-width: 960px;
	padding: 5vw;
	border-top: 2px solid var(--color-main);
}
#page-footer a {
	color: inherit;
}
#page-footer > * {
	font-size: 0.8rem;
	max-width: 640px;
}


/* Spinner: */

#loadingspinner {
  margin: auto;
  /*width: 200px;*/
  padding: 10px;
  line-height: 50px;
  text-align: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
  border-color: var(--color-main) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
