@import url("fonts/fonts.css");
:root {
    color-scheme: light dark;
    --color-main: #000;
    --color-background: #fff;
	--canvas-minwidth: 600px;
	--color-selection: #1f74da; /* rgba(31, 116, 218, 1); */
	--color-risk-high: #cb1a50; /* rgba(203, 26, 80, 1); */
	--color-risk-medium: #dc9111; /* rgba(220, 145, 17, 1); */
	--color-risk-low: #388613; /* rgba(56, 134, 19, 1); */
}
@media (prefers-color-scheme: dark) {
    :root {
	    --color-main: #ccc;
	    --color-background: #0F0F0F;
    }
}
* {
	margin: 0;
	padding: 0;
}
html {
	font-family: "IBM Plex Sans", sans-serif;
	line-height: 1.3;
}
body {
	color: var(--color-main);
	background-color: var(--color-background);
}

/* !main */
main {
	margin: 0 auto;
	padding: 5vw;
	max-width: 960px;
}
main a {
	color: inherit;
}
main p {
	max-width: 640px;
	margin: 1em 0;
}
main h1 {
	font-size: 2rem;
	margin-bottom: 2rem;
}
section header {
	background-image: linear-gradient(#000, #000);
	background-image: linear-gradient(var(--color-main), var(--color-main));
	background-size: 64px 2px;
	background-repeat: repeat-x;
	background-position: center center;
}
section header h2 {
	display: inline-block;
	padding-right: 1em;
	font-size: 0.8em;
	text-transform: uppercase;
	max-width: none;
	margin: 2rem 0;
	color: #000;
	color: var(--color-main);
	background-color: #fff;
	background-color: var(--color-background);
}
#index h3:first-child {
  margin-top: 0;
}
#index h3 {
  margin-top: 1em;
}
section article {
	margin-bottom: 2rem;
}
section > article:last-child {
	margin-bottom: 0;
}
section > * > article:last-child {
	margin-bottom: 0;
}
table {
	font-family: "IBM Plex Mono", monospace;
	font-size: 14px;
	border-collapse: collapse;
}
table td,
table th {
	text-align: right;
	padding: 0.2em 0.5em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
@media (prefers-color-scheme: dark) {
	table td,
	table th {
		border-color: #333;
	}
}
table tr > :first-child {
	padding-left: 0;
}
table tr > :last-child {
	padding-right: 0;
}
table tr td:nth-child(1),
table tr th:nth-child(1) {
	text-align: left;
}

/**
 * Map
 */
.map {
	display: block;
	width: 100%;
}

@media (min-width: 751px) {
	.svg-group .map {
		display: inline-block;
		width: calc((100% - 2.3em) / 2);
	}
}

.map__svg {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.map__svg path {
	stroke-linejoin: round;
}

/**
 * Lake
 */
.lake {
	stroke: var(--color-background);
	fill: var(--color-background);
}

/**
 * Area
 */
.area {
	stroke: var(--color-background);
	fill: grey;
	cursor: pointer;
}

.area--risk-high { fill: var(--color-risk-high); }
.area--risk-medium { fill: var(--color-risk-medium); }
.area--risk-low { fill: var(--color-risk-low); }

.area--selected.area--risk-high { fill: #631026; }
.area--selected.area--risk-medium { fill: #80591e; }
.area--selected.area--risk-low { fill: #1b410a; }

/**
 * Row
 */
.row td {
	cursor: pointer;
}

.row--selected td {
	background-color: var(--color-selection);
	color: white;
}

.row--selected .cell--last-week {
	color: #91b7ed;
}

.table-group,
.svg-group {
	margin-bottom: 2rem;
}
.table-group table,
.svg-group table {
	display: inline-table;
	margin-right: 2em;
	width: calc((100% - 2.3em) / 2);
}
.svg-group #scrolldiv {
	width: calc((100% - 2.3em) / 2);
}
.table-group table:nth-child(2),
.svg-group table:nth-child(2) {
	margin-right: 0;
}
.svg-group table {
	float: right;
}
table a:hover {
	text-decoration: underline;
}
table img {
	margin-right: 0.5em;
}
.state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;

    z-index: 1;
}
@media (max-width: 750px) {
	.state-indicator {
	   z-index: 2;
	}
	.table-group table,
	.svg-group table {
		display: table;
		width: 100%;
		margin-right: 0px;
	}
	.table-group table:nth-child(1) tbody > tr:last-child td {
		border-bottom: 0;
	}
	.table-group table:nth-child(2) thead tr th {
		visibility: hidden;
		height: 0px;
		overflow: hidden;
		line-height: 0;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}
.left {
  text-align: left !important;
  white-space: nowrap;
}
/* !wide-table */
table.wide {
	width: 100%;
	max-width: 700px;
}
@media (max-width: 750px) {
	table.wide {
		min-width: 100%;
	}
}
table.wide th {
	position: relative;
	height: 190px;
	vertical-align: bottom;
}
table.wide th span {
	white-space: nowrap;
	position: absolute;
	left: 100%;
	bottom: 0;
	transform: rotate(-90deg);
	transform-origin: bottom left;
	padding-left: 0.5em;
	padding-bottom: 0.2em;
}
table.wide th:nth-child(1),
table.wide th:nth-child(2) {
	position: static;
}
table.wide th:nth-child(1) span,
table.wide th:nth-child(2) span {
/* 	left: 0%; */
/* 	bottom: 0; */
/* 	transform: rotate(-90deg) translatey(1.3em); */
	position: static;
	transform: none;
	padding-left: 0;
}
h2, h3 {
	margin-bottom: 1em;
	font-size: 1.125rem;
}
#last .group {
	display: flex;
	flex-wrap: wrap;
}
#last .group > table:first-child {
	margin-right: 2em;
}
#plztable {
	width: 100%;
	display: table;
	margin-right: 0;
}
.tableFixHead          { overflow-y: auto; height: 350px; float: right; }
.tableFixHead thead th { position: sticky; top: 0; background-color: var(--color-background); border-top-width: 0; }
.tableFixHead table {
  font-size: 12px; 
}
#confirmed_1 td:nth-child(1),
#confirmed_2 td:nth-child(1) {
	width: 50%;
}
#plztable th:nth-child(2),
#plztable td:nth-child(2) {
	text-align: left;
	width: 40%;
}
/* #confirmed_1 td:nth-child(2),
#confirmed_2 td:nth-child(2),
#confirmed td:nth-child(2),
#plzbody td:nth-child(3), */
.cell--last-week {
	color: grey;
}
.canvas-dummy {
	overflow-x: scroll;
}
canvas {
	width: 100%;
	min-width: var(--canvas-minwidth);
}
button {
	font-family: "IBM Plex Sans", sans-serif;
}
.chartButtons {
	overflow-x: scroll;
	min-width: var(--canvas-minwidth);
	width: 100%;
    clear: both;
}
@media (max-width: 750px) {
	canvas {
		width: 100%;
		min-width: auto;
	}
	.chartButtons {
		overflow-x: scroll;
		min-width: auto;
		width: 100%;
	    clear: both;
	}

	.svg-group table,
	.svg-group .tableFixHead {
		float: none;
		width: 100%;
	}
}
.notes {
	font-size: 0.8em;
}
.notes > :last-child {
	margin-bottom: 0;
}
.legend {
	list-style: none;
}

/* !flags */
.flag {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 1.75em;
}
.flag.flag--AG { background-image: url(flags/ag.png); }
.flag.flag--AI { background-image: url(flags/ai.png); }
.flag.flag--AR { background-image: url(flags/ar.png); }
.flag.flag--BE { background-image: url(flags/be.png); }
.flag.flag--BL { background-image: url(flags/bl.png); }
.flag.flag--BS { background-image: url(flags/bs.png); }
.flag.flag--CH { background-image: url(flags/ch.png); }
.flag.flag--FL { background-image: url(flags/fl.png); }
.flag.flag--FR { background-image: url(flags/fr.png); }
.flag.flag--GE { background-image: url(flags/ge.png); }
.flag.flag--GL { background-image: url(flags/gl.png); }
.flag.flag--GR { background-image: url(flags/gr.png); }
.flag.flag--JU { background-image: url(flags/ju.png); }
.flag.flag--LI { background-image: url(flags/li.png); }
.flag.flag--LU { background-image: url(flags/lu.png); }
.flag.flag--NE { background-image: url(flags/ne.png); }
.flag.flag--NW { background-image: url(flags/nw.png); }
.flag.flag--OW { background-image: url(flags/ow.png); }
.flag.flag--SG { background-image: url(flags/sg.png); }
.flag.flag--SH { background-image: url(flags/sh.png); }
.flag.flag--SO { background-image: url(flags/so.png); }
.flag.flag--SZ { background-image: url(flags/sz.png); }
.flag.flag--TG { background-image: url(flags/tg.png); }
.flag.flag--TI { background-image: url(flags/ti.png); }
.flag.flag--UR { background-image: url(flags/ur.png); }
.flag.flag--VD { background-image: url(flags/vd.png); }
.flag.flag--VS { background-image: url(flags/vs.png); }
.flag.flag--ZG { background-image: url(flags/zg.png); }
.flag.flag--ZH { background-image: url(flags/zh.png); }
@media (prefers-color-scheme: dark) {
	.flag.flag--AG { background-image: url(flags/ag-dark.png); }
	.flag.flag--AI { background-image: url(flags/ai-dark.png); }
	.flag.flag--AR { background-image: url(flags/ar-dark.png); }
	.flag.flag--BE { background-image: url(flags/be-dark.png); }
	.flag.flag--BL { background-image: url(flags/bl-dark.png); }
	.flag.flag--BS { background-image: url(flags/bs-dark.png); }
	.flag.flag--CH { background-image: url(flags/ch-dark.png); }
	.flag.flag--FL { background-image: url(flags/fl-dark.png); }
	.flag.flag--FR { background-image: url(flags/fr-dark.png); }
	.flag.flag--GE { background-image: url(flags/ge-dark.png); }
	.flag.flag--GL { background-image: url(flags/gl-dark.png); }
	.flag.flag--GR { background-image: url(flags/gr-dark.png); }
	.flag.flag--JU { background-image: url(flags/ju-dark.png); }
	.flag.flag--LI { background-image: url(flags/li-dark.png); }
	.flag.flag--LU { background-image: url(flags/lu-dark.png); }
	.flag.flag--NE { background-image: url(flags/ne-dark.png); }
	.flag.flag--NW { background-image: url(flags/nw-dark.png); }
	.flag.flag--OW { background-image: url(flags/ow-dark.png); }
	.flag.flag--SG { background-image: url(flags/sg-dark.png); }
	.flag.flag--SH { background-image: url(flags/sh-dark.png); }
	.flag.flag--SO { background-image: url(flags/so-dark.png); }
	.flag.flag--SZ { background-image: url(flags/sz-dark.png); }
	.flag.flag--TG { background-image: url(flags/tg-dark.png); }
	.flag.flag--TI { background-image: url(flags/ti-dark.png); }
	.flag.flag--UR { background-image: url(flags/ur-dark.png); }
	.flag.flag--VD { background-image: url(flags/vd-dark.png); }
	.flag.flag--VS { background-image: url(flags/vs-dark.png); }
	.flag.flag--ZG { background-image: url(flags/zg-dark.png); }
	.flag.flag--ZH { background-image: url(flags/zh-dark.png); }
}
.flag.flag--101 { background-image: url(flags/101.png); }
.flag.flag--102 { background-image: url(flags/102.png); }
.flag.flag--103 { background-image: url(flags/103.png); }
.flag.flag--104 { background-image: url(flags/104.png); }
.flag.flag--105 { background-image: url(flags/105.png); }
.flag.flag--106 { background-image: url(flags/106.png); }
.flag.flag--107 { background-image: url(flags/107.png); }
.flag.flag--108 { background-image: url(flags/108.png); }
.flag.flag--109 { background-image: url(flags/109.png); }
.flag.flag--110 { background-image: url(flags/110.png); }
.flag.flag--111 { background-image: url(flags/111.png); }
.flag.flag--112 { background-image: url(flags/112.png); }

/**
 * Risk
 */
.risk {
	position: relative;
}

.risk:after {
	content: '';
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	background-color: #ccc;
	margin-left: 0.5rem;
	margin-top: 1px;
	vertical-align: top;
}
.risk.high:after { background-color: var(--color-risk-high); } /* red */
.risk.medium:after { background-color: var(--color-risk-medium); } /* orange */
.risk.low:after { background-color: var(--color-risk-low); } /* green */

.risk:before {
	position: absolute;
	content: '';
	display: block;
	width: 1rem;
	height: 0.5rem;
	border-radius: 0.5rem 0.5rem 0 0;
	background: transparent;
	top: 1px;
	right: 0;
}
.risk.low2medium:before { background: linear-gradient(75deg, rgba(56, 134, 19, 0.5) 0%, var(--color-risk-medium) 100%); }
.risk.low2high:before { background: linear-gradient(60deg, rgba(56, 134, 19, 0.5) 0%, rgba(220, 145, 17, 0.75) 50%, var(--color-risk-high) 100%); }
.risk.medium2low:before { background: linear-gradient(105deg, rgba(220, 145, 17, 0.5) 0%, var(--color-risk-low) 100%); }
.risk.medium2high:before { background: linear-gradient(75deg, rgba(220, 145, 17, 0.5) 0%, var(--color-risk-high) 100%); }
.risk.high2medium:before { background: linear-gradient(105deg, rgba(203, 26, 80, 0.5) 0%, var(--color-risk-medium) 100%); }
.risk.high2low:before { background: linear-gradient(120deg, rgba(203, 26, 80, 0.5) 0%, rgba(220, 145, 17, 0.75) 50%, var(--color-risk-low) 100%); }

/* !page-footer */
#page-footer {
	margin: 5vw auto 0;
	max-width: 960px;
	padding: 5vw;
	border-top: 2px solid;
}
#page-footer a {
	color: inherit;
}
#page-footer > * {
	font-size: 0.8em;
	max-width: 640px;
}


/* Spinner: */

#loadingspinner {
  margin: auto;
  /*width: 200px;*/
  padding: 10px;
  line-height: 50px;
  text-align: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
  border-color: var(--color-main) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
